{%  extends 'base.html' %}
{% block title %}
    {{ 'Adding new post' }}
    {% endblock %}

{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>

<h1>Add blog post</h1>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Post</button>
    </form>
</div>
</body>
</html>

{% endblock %}
