{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Latest Posts</h2>
{% for post in object_list %}
    <div class="post">
        <h3><a href="{% url 'article-detail' post.id %}">{{ post.title }} </a></h3>
        <p><a href="{% url 'category' post.category%}">{{ post.category }} </a></p>
        <p>Posted by {{ post.author }} on {{ post.post_date }}</p>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        {% endif %}
    </div>
{% empty %}
    <p>No posts available.</p>
{% endfor %}
{% endblock %}

